APRS_PACKET_SOURCE=simulator
APRS_SIMULATOR_CONFIG=/app/simulator.json
APRS_SIMULATOR_LAYER_NAME=APRS Simulator

APRS_MAPPING_SERVER_URL=http://127.0.0.1:18082

APRS_AUTH_TOKEN=

APRS_LOG_LEVEL=debug
